.galeria__header {
    border-top: 1px solid gray;
    display: flex;
    justify-content: center;
}

.galeria__tab {
    width: 62px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.galeria__tab--active {
    border-top: 1px solid white;
}

.galeria__contenido {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    gap: 2px;
}

.geleria__item {
    width: 309px;
    height: 309px;
}

.geleria__item img {
    width: 100%;
}