#nav {
    border-bottom: 1px solid rgb(54,54,54);
}

.nav-contenedor {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

#instagram {
    font-size: 25px;
}

#main {
    padding: 30px 2px;
}