.panel-container {
    display: flex;
    gap: 30px;
    margin-bottom: 45px;
}

.panel__image {
    flex-grow: 1;
}

.panel__image img {
    border-radius: 100%;
    padding: 0 30px;
}

.panel__info {
    flex-grow: 2;
}

.panel_info-titulo {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-bottom: 15px;
}

.panel-container h1 {
    margin: 0;
}

.numeros-contenedor {
    display: flex;
    gap: 25px;
    padding-bottom: 15px;
}